.top {
    background-color: #d0e8f2;
    position: relative;
    padding-top: 5%;
    line-height: 2;
}

.topLine {
    margin: 0 auto;
    font-size: 2.5rem;
    color: #fcf8ec;
    font-weight: normal;
}

.cloudandsun {   
    width: 15%;
    position: absolute;
    right: 5%;
}

.cloud {   
    width: 15%;
    position: absolute;
    left: 15%;
    bottom: 50%;
}

.mountains {
    position: relative;
    width: 100%;
}

.middle {
    background-color: #79a3b1;
}

.profile {
    margin: 2rem auto 5rem auto;
    line-height: 2;    
}

.profile_img {
    width: 15%;
    margin: 3rem auto;
}

.skills {
    margin: 5rem auto;
}

.skills_row {
    width: 50%;
    margin: 7rem auto;
    text-align: left;
    line-height: 2;
}

.skills_img1 {
    width: 20%;
    float: left;
    margin-right: 2rem;
}

.skills_img2 {
    width: 20%;
    float: right;
    margin-left: 2rem;
}

.contact-me {
    padding-top: 5rem;
    padding-bottom: 5rem;
    line-height: 2;
}

.btn {
    background: #456268;
    background-image: -webkit-linear-gradient(top, #456268, #456268);
    background-image: -moz-linear-gradient(top, #456268, #456268);
    background-image: -ms-linear-gradient(top, #456268, #456268);
    background-image: -o-linear-gradient(top, #456268, #456268);
    background-image: -webkit-gradient(to bottom, #456268, #456268);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    height: 30px;
    line-height: 30px;
    color: #FCF8EC;
    font-family: 'JetBrains Mono', monospace;
    width: 200px;
    font-size: 20px;
    font-weight: 100;
    padding: 0;
    margin-top: 2rem;
    border: solid #456268 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }
 
 .btn:hover {
    border: solid #D0E8F2 1px;
    background: #D0E8F2;
    background-image: -webkit-linear-gradient(top, #D0E8F2, #D0E8F2);
    background-image: -moz-linear-gradient(top, #D0E8F2, #D0E8F2);
    background-image: -ms-linear-gradient(top, #D0E8F2, #D0E8F2);
    background-image: -o-linear-gradient(top, #D0E8F2, #D0E8F2);
    background-image: -webkit-gradient(to bottom, #D0E8F2, #D0E8F2);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
 }

.bottom {
    background-color: #456268;
}

.footer-link {
    display: inline-block;
    margin: 3rem 2rem 0 2rem;
    font-size: larger;
    text-decoration: none;
}

.footer-copyrating {
    margin:  3rem auto 0 auto;
    color: #fcf8ec;
}

body {
    margin: 0;
    text-align: center;
    font-family: 'JetBrains Mono', monospace;
    font-size: larger;
}

h1 {
    margin: 25px auto 0 auto;
    font-family: 'Pacifico', cursive;
    font-size: 5.625rem;
    color: #fcf8ec;
}

h2 {
    margin: 0 auto;
    font-size: 2.5rem;
    color: #fcf8ec;
}

hr {
    border-style: dotted none none none;
    color: #fcf8ec;
    border-width: 15px;
    width: 10%;
}

h3 {
    color: #fcf8ec;
}

a {
    color: #79a3b1;
}

p {
    line-height: 2;  
}


/* fcf8ec */