.top {
    background-color: #d0e8f2;
    position: relative;
    padding-top: 5%;
}

.middle {
    background-color: #79a3b1;    
}

.bottom {
    background-color: #456268;
}

body {
    margin: 0;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    font-size: larger;
}

h1 {
    margin: 0 auto;
    font-family: 'Pacifico', cursive;
}

.cloudandsun {   
    width: 15%;
    position: absolute;
    right: 5%;
}

.cloud {   
    width: 15%;
    position: absolute;
    left: 15%;
    bottom: 50%;
}

.mountains {
    position: relative;
    width: 100%;
}