<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>
</head>

<body>

    <% if(dayToday === "Sunday" || dayToday === "Saturday") { %>
    <h1 style="color: green"><%= dayToday %> - ToDo List</h1>
    <% } else { %>
    <h1 style="color: blue"><%= dayToday %> - ToDo List</h1>
    <% } %>
<!-- Цикл пробегается по всем элементам массива и для каждого элемента создаёт новый пункт списка -->
    <p>List of to do</p>
    <ul>
        <% for (let index = 0; index < newListItems.length; index++) { %>
            <li><%= newListItems[index] %></li>
        <% } %>
    </ul>

    <form action="/" method="post">
        <input type="text" name="newInput">
        <button type="submit" name="button">Add</button>
    </form>   

</body>

</html>